extends layout

block content
    main
        h2.tilMode Toggle Dark/Light mode 
            p Click the button to toggle between dark and light mode.
            button#moon(onclick="toggleTheme('dark')" class="fa fa-moon-o")
            button#sun(onclick="toggleTheme('light')" class="fa fa-sun-o") 