extends layout

block content
    h2.tilMode Toggle Dark/Light mode 
        p Click the button to toggle between dark and light mode.
        button(onclick="toggleTheme('dark')") Dark
        button(onclick="toggleTheme('light')") Light