doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/") Register user
          if authenticated
            if admin
              li
                a(href="/") Timeline
            li
              a(href="/") Follow 
            li
              a(href="/") 
            li 
              a(href="/") Logout

          if !authenticated
    main
    block content