extends layout

block content
  h1= title
        if tf
            p= tf
        else
                form(id='' action='/' method='post')
                        div
                                div
                                                div
                                                        div User Email
                                                                input(type='email' name='email' required)
                                                        div Password
                                                                input(type='password' name='password' required)
                                                        input.button(type='submit' value='Go')