doctype html
html
  head
    title.title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
        nav
            ul
                li
                    a(href='/') Home
                if !user
                    li
                        a(href='/users/login') Login
                    li
                        a(href='/users/register') Register
                if user
                    li
                        a(href="/dashboard") Insiders

                    li
                        a(href='/users/logout') Logout
    main
        block content
    footer
        div(id='cpy')
        div kilroy was here