doctype html
html
  head
    title.title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/public/loginfunk") 
  body
    header
        nav.main-menu
            ul
                li.nav-text
                    a(href='/') Home
                br
                li.nav-text
                    a(href='/users/login') Login
                br
                li.nav-text
                    a(href='/users/register') Register
                if !user
                if user
                    li.nav-text
                        a(href="/dashboard") Insiders
                    li.nav-text
                        a(href='/users/logout') Logout
    main
        block content
    footer
        div(id='cpy')
        //- div Rainbow Warriors were here