doctype html
html
  head
    title.title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    script(src="/public/loginfunk") 
  body
    header
        nav(class="main-menu")
            ul
                li
                    a(href='/') 
                        i(class="fa fa-home fa-lg")
                        span.nav-text Home
                if !user
                    li
                        a(href='/users/register') 
                            i(class="fa fa-plus")
                            span.nav-text Register
                    li
                        a(href='/users/login')
                            i(class="fa fa-sign-in")
                            span.nav-text Login
                if user
                    li
                        a(href="/post")
                            i#fa(class="fa fa-envelope")
                            span.nav-text Post
                    li
                        a(href="/dashboard")
                            i#fa(class="fa fa-tachometer")
                            span.nav-text Insiders
                    li
                        a(href='/users/logout')
                            i#fa(class="fa fa-sign-out")
                            span.nav-text Logout
    main
        block content
    footer
        div(id='cpy')
        //- div Rainbow Warriors were here