doctype html
html
  head
    title.title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
  body
    header
        nav(class="main-menu")
            ul
                 if !user
                    li
                        a(href='/') 
                            i(class="fa fa-home fa-lg")
                            span.nav-text Home
                    li
                        a(href='/users/register') 
                            i(class="fa fa-plus")
                            span.nav-text Register
                    li
                        a(href='/users/login')
                            i(class="fa fa-sign-in")
                            span.nav-text Login
                 if user
                    li
                        a(href="/feed")
                            i(class="fa fa-rss")
                            span.nav-text Feed
                    li
                        a(href="/yaddaForm")
                            i(class="fa fa-envelope")
                            span.nav-text Send yadda
                    li
                        a(href="/dashboard")
                            i(class="fa fa-tachometer")
                            span.nav-text Insiders
                    li
                        a(href='/users/logout')
                            i(class="fa fa-sign-out")
                            span.nav-text Logout
    main
        if user
                aside.containt
                    header
                        input(type="text" placeholder="search")
                        div.containe
                            img(alt="Avatar")
                            p
                            span.time-right
                        div.containe-darker
                            img(alt="Avatar")
                            p
                            span.time-left
                        each friend in users
                            p #{friend.name}
                            div
                                a(href="/yaddaForm/" + friend.uid) 
                                    button.follow Send Yadda
                            div
                                a(href="/follow/" + friend.uid) 
                                    button.follow Follow
                            div
                                a(href="/unfollow/" + friend.uid) 
                                    button.follow Unfollow
        block content
    footer
        div(id='cpy')
        //- div Rainbow Warriors were here