extends layout

block content
    div.containt
        aside 
            header
                input(type="text" placeholder="search")
                div.containe
                    img(alt="Avatar")
                    p
                    span.time-right
                div.containe-darker
                    img(alt="Avatar")
                    p
                    span.time-left