extends layout

block content
    section
        h1 Please enter your details to register.
        if errors != undefined && errors.length != 0
            each error in errors
                div(role='alert' id='a1') #{error.msg}
        if success_msg != ''
            div(role='alert' id='a2') #{success_msg}
        if error_msg != ''
            div(role='alert' id='a3') #{error_msg}
        if error != ''
            div(role='alert' id='a4') #{error}
        form(method='post' action='/users/register')
            div.wrapper
                div.container 
                    div.signup-form
                        input.input(type='text' minlength='2' name='name' required placeholder="Name")
                        br
                        input.input(type='text' minlength='2' name='uid' required placeholder="Username")
                        br
                        input.input(type='email' minlength='6' name='email' required placeholder="Email")
                        br
                        input.input(type='password' minlength='4' name='password' required placeholder="Password")
                        br
                        input.input(type='password' minlength='4' name='passwordr' required placeholder="Repeat password")
                        br
                        input.btn(type='submit' value='Sign Up')