extends layout

block content
    h1= title
    p Please register
    form(id='register' action='/register' method='post')
        table
            tr
                td Realname
                td
                    input(type='text' name='realname' required)
            tr
                td Handle
                td
                    input(type='text' name='handle' required)
            tr
                td Password
                td
                    input(type='text' name='password' required)
            tr
                td Password 
                td
                    input(type='text' name='password' required)
            tr
                td Email
                td
                    input(type='text' name='email' required)
            tr
                td
                td
                    input(type='submit' value='Go')