extends layout

block content
    if user
        main
            if showsfollows
                h1 #{title}
                div
                    a(href="/users/showsall") 
                        button.follow Find Yadda people
                each followee in follows
                    div.uid

                        img.imgAvatar(src="/users/getimage/" + followee.follows) 
                        p #{followee.follows}
                        a(href="/users/unfollow/" + followee.follows) 
                            button.follow Unfollow
                        hr
            if !showsfollows
                h1 #{title}
                div
                    a(href="/users/showsfollows") 
                        button.follow Show your follows
                div
                    each user in users
                        img.imgAvatar(src="/users/getimage/" + user.uid)
                        p #{user.name}
                            a(href="/users/follow/" + user.uid) 
                                button.follow Follow
                            hr